.idea
*.iml
*.ipr
*.iws
target/
common/target/
connect/target/
sqlite/target/
javax-cache/target/
jpa/target/
jpa2/target/
social/target/
server-api/target/
server-gae/target/
server-jee/target/
validation-api/target/
validation/target/

